.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 11px 1500px 100px 0px;
  color: white;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.image{
  width: 10%;
  height: 100px;
  margin-left: -1312px;
}
.Pikk{
  width: 20%;
  height: 150px;
  margin-top: 50px
}
.abc{
  /* background-image: url("back.jpg"); */
}